services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: stock_tracker
      POSTGRES_PASSWORD: password
      POSTGRES_DB: stock_tracker_production
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    ports:
      - "3000:80"
    environment:
      RAILS_MASTER_KEY: ${RAILS_MASTER_KEY}
      DATABASE_URL: postgres://stock_tracker:password@db:5432/stock_tracker_production
      PORT: "8080"
      SOLID_QUEUE_IN_PUMA: "true"
    depends_on:
      - db

volumes:
  postgres_data:
