# fly.toml app configuration file generated for stock-tracker-green-star-9054 on 2026-02-01T12:43:51Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'stock-tracker-green-star-9054'
primary_region = 'syd'
console_command = '/rails/bin/rails console'

[build]

[env]
  PORT = '8080'
  SOLID_QUEUE_IN_PUMA = 'true'

[mounts]
  source="stock_tracker"
  destination="/mnt/stock_tracker"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = '10s'
    timeout = '2s'
    grace_period = '5s'
    method = 'GET'
    path = '/up'
    protocol = 'http'
    tls_skip_verify = false

    [http_service.checks.headers]
      X-Forwarded-Proto = 'https'

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
